@import "../../../shared/styles/colors.scss";

:host {
  .header {
    &__container {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 53px;
      padding: 20px;
      box-shadow: 0 3.39px 5.64px 0 $gray-color-a, 0 9.03px 27.09px 0 $gray-color-a;
    }

    &__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      width: 50px;
      height: 50px;
      padding: 13px 4px 12px 9px;
      font-size: 18px;
      font-weight: 700;
      line-height: 25px;
      color: $light-color;
      background-color: $primary-color;
      border-radius: 50%;
    }

    &__input {
      width: 580px;
    }
  }
}
