<span class="icon">
  @if (name() === 'arrow') {
  <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      id="Vector"
      d="M0 4L0.7 4.7L3.5 1.91L3.5 8L4.5 8L4.5 1.91L7.28 4.7L8 4L4 0L0 4Z"
      fill="#9873FF"
      fill-opacity="1.0"
      fill-rule="nonzero"
    />
  </svg>
  } @if (name() === 'addIcon') {
  <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      id="Vector"
      d="M14 8C16.2 8 18 6.2 18 4C18 1.79 16.2 0 14 0C11.79 0 10 1.79 10 4C10 6.2 11.79 8 14 8ZM5 6L5 3L3 3L3 6L0 6L0 8L3 8L3 11L5 11L5 8L8 8L8 6L5 6ZM14 10C11.33 10 6 11.33 6 14L6 16L22 16L22 14C22 11.33 16.67 10 14 10Z"
      fill="#9873FF"
      fill-opacity="1.000000"
      fill-rule="nonzero"
    />
  </svg>
  }
</span>
