$dark-color: #7f8c8d;
$light-color: #fff;
$light-color-2: #F5F5F5;
$primary-color: #9873FF;
$gray-color-a: rgba(176, 190, 197, 0.32);
$gray-color-a2: rgba(51, 51, 51, 0.2);
$text-gray-color: #B0B0B0;
